.pagination {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

ul.cards {
  list-style: none;
  padding: 0;

  li.card-item:not(:first-child) {
    margin-top: 2rem;
  }

  h1 {
    margin: 0.2rem 0 0.5rem 0;
    display: flex;

    a .emoji {
      opacity: 0;
      transition: opacity 0.2s ease;
      display: inline-block;
    }

    a:hover .emoji,
    a:focus .emoji {
      opacity: 1;
    }
  }

  p {
    margin: 0;
  }
}
