ul.meta {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.container-singlepost-title {
  margin: 0.2rem 0 0.5rem 0;

  h1 {
    margin: 0;
  }

  a.fixme {
    font-size: 1.2rem;
    text-transform: uppercase;

    ::before {
      content: '// '
    }
  }
}

@media (min-width:576px) {
  .container-singlepost-title {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}

article {
  margin-bottom: 2rem;
}

.highlight pre {
  overflow: scroll;
}

article img {
  width: auto;
  height: auto;
  max-width: 800px;
  max-height: 600px;
}
