@font-face {
  font-family: 'AlgoZF';
  src: url('/zombisite/fonts/AlgoZF-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EurostileLTStd';
  src: url('/zombisite/fonts/EurostileLTStd-BoldCn.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'EurostileLTStd';
  src: url('/fonts/EurostileLTStd-BoldCnLarge.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AlgoFY';
  src: url('/fonts/Fontyou - Algo FY Black.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AlgoFY';
  src: url('/fonts/Fontyou - Algo FY Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArekLatin';
  src: url('/zombisite/fonts/Rosetta - ArekLatin-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ArekLatin';
  src: url('/zombisite/fonts/Rosetta - ArekLatin-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'ArekLatin';
  src: url('/zombisite/fonts/Rosetta - ArekLatin-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ArekLatin';
  src: url('/zombisite/fonts/Rosetta - ArekLatin-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ArekLatin';
  src: url('/zombisite/fonts/Rosetta - ArekLatin-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
