@import './themes.scss';
@import './_helpers.scss';
@import './fonts.scss';

html {
  scroll-behavior: smooth;
}

body {
  position: relative;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/zombisite/imgs/papel-bg-claro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  color: #393628;
}

::selection, ::-moz-selection {
  color: white;
  background: #a13127;
}


body {
  font-family: "ArekLatin"; 
  line-height: 1.5em;
  padding: 0 2%;
  margin: auto;
}

@media (min-width:576px) {
  body {
    max-width: 540px
  }
}

@media (min-width:768px) {
  body {
    max-width: 720px
  }
}

@media (min-width:992px) {
  body {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  body {
    max-width: 1140px
  }
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre {
  color: v("text-color-pre");
  background: v("background-color-pre") !important;
  padding: 1rem;
}

blockquote {
  border-left: 0.25rem solid var(--accent-color);
  padding-left: 1rem;
  margin-left: 0;
}

a {
  color: v("link-color");
}

header.menu {
  margin: 1.2rem 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

time.datepost {
  font-size: 0.8rem;
  font-style: italic;
}

ul.tags {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
